<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ $p := .Site.GetPage "page" "home.md" }}
    <head>
        {{ partial "head.html" .}}
    </head>
    <body id="page-top">
          {{ partial "nav.html" . }}
          <section class="bg-primary" id="about">
              <div class="container text-center"><h2>{{.Title}}</h2><h4>{{.Description}}</h4>
              </div>
          </section>
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="font-lite-black margin-t-10">{{ .Date.Format "Mon, Jan 2, 2006" }}</h6>
                    <h7>Read in {{ .ReadingTime }} minutes</h7>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{ .Content | markdownify }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>