
ul.icons {
	position: relative;
	background: rgba(128, 128, 128, 0.05);
	background: #eee;
	border-radius: 4em;
	display: inline-block;
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-size: 1.25em;
	cursor: default;
}

ul.icons li {
	display: inline-block;
}

ul.icons li a {
	display: inline-block;
	background: none;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	border-radius: 100%;
	border: 0;
	color: inherit;
}

ul.icons li a:hover {
	color: #ef8376;
}