{{ "<!-- HEADER -->" | safeHTML }}
{{ $p := .data }}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ if $p.Params.hero_slogan }}
                <h1>{{ $p.Params.hero_slogan | markdownify  }}</h1>
            {{ end }}
            <hr>
            {{ if $p.Params.hero_subtitle }}
                <p>{{ $p.Params.hero_subtitle | markdownify }}</p>
            {{ end }}
            {{ if $p.Params.hero_buttonText }}
                <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ $p.Params.hero_buttonText }}</a>
            {{ end }}
        </div>
    </div>
</header>
