{{ $p := .data }}

<section id="education" class="experience-section section center-text">
        <div class="container">
   	    	{{ if $p.Params.education_title }}

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ $p.Params.education_title }}</h2>
                    <hr class="primary">
                </div>
            </div>
            {{ end }}

            <div class="row">
            	<div class="col-sm-12">
	            	<div class="experience margin-b-50">
						<h4><b>JUNIOR PROJECT MANAGER</b></h4>
						<h5 class="font-yellow"><b>DESIGN STUDIO</b></h5>
						<h6 class="font-lite-black margin-t-10">MARCH 2015 - PRESENT</h6>
						<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						<ul class="list margin-b-30">
							<li><span>Duis non volutpat arcu, eu mollis tellus.</span></li>
							<li><span>Quis consequat nulla effi citur at.</span></li>
							<li><span>Sed finibus aliquam neque sit.</span></li>
						</ul>
					</div><!-- experience -->

					<div class="experience margin-b-50">
						<h4><b>WEB MASTER/WEB DEVELOPER</b></h4>
						<h5 class="font-yellow"><b>DESIGN & WEB STUDIO</b></h5>
						<h6 class="font-lite-black margin-t-10">APRIL 2014 - FEBRUARY 2015</h6>
						<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						<ul class="list">
							<li><span>Duis non volutpat arcu, eu mollis tellus.</span></li>
							<li><span>Quis consequat nulla effi citur at.</span></li>
							<li><span>Sed finibus aliquam neque sit.</span></li>
						</ul>
					</div><!-- experience -->
				</div>

            </div>
        </div>
    
</section>