{{ "<!-- SERVICES -->" | safeHTML }}
{{ $p := .data }}


<section id="network">
    {{ if $p.Params.networks_title }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ $p.Params.networks_title }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="icon">
            <p class="text-center">
            {{ range $p.Params.networks_list }}
                <a href="{{.link}}"><i class="{{.class}} fa-5x"></i></a>
            {{ end }}
            </p>
        </div>
    </div>
</section>
