<div class="col-sm-12 col-md-6">
	<h4><b>HTML & CSS</b></h4>
	<h6 class="expert">EXPERT</h6>
	
	<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
		quis consequat nulla effi citur at.</p>
		
	<div class="line-progress margin-b-20" data-prog-percent=".90"><div></div>
		<p class="progress-title"><b>HTML</b></p></div>
	
	<div class="line-progress margin-b-50" data-prog-percent=".85"><div></div>
		<p class="progress-title"><b>CSS</b></p></div>

</div><!-- col-md-6 -->

<div class="col-sm-12 col-md-6">
	<h4><b>GRAPHIC DESIGN</b></h4>
	<h6 class="expert">EXPERT</h6>
	
	<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
		quis consequat nulla effi citur at.</p>
		
	<div class="line-progress margin-b-20" data-prog-percent=".97"><div></div>
		<p class="progress-title"><b>PHOTOSHOP</b></p></div>
	
	<div class="line-progress margin-b-50" data-prog-percent=".97"><div></div>
		<p class="progress-title"><b>ILLUSTRATOR</b></p></div>

</div><!-- col-md-6 -->
