{{ "<!-- PROJECTS -->" | safeHTML }}
{{ $p := .data }}

<section id="teaching" class="education-section section">
        <div class="container">
            {{ if $p.Params.teaching_title }}

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ $p.Params.teaching_title }}</h2>
                    <hr class="primary">
                </div>
            </div>
            {{ end }}

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {{ $p.Params.teaching | markdownify }}
                </div><!-- col-md-6 -->

            </div>
        </div>
    
</section>