{{ "<!-- SERVICES -->" | safeHTML }}
{{ $p := .data }}


<section id="education" class="education-section section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
	            	<a class="twitter-timeline" data-lang="es" data-theme="dark" href="https://twitter.com/xescuder?ref_src=twsrc%5Etfw">Tweets by xescuder</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</section>



