<section id="resume">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2016 - 2017</span>
                    <div class="timeline-content">
                        <h3 class="title">Williamson</h3>
                        <span class="post">Web Developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere.
                        </p>
                    </div>
                </div>
 
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2016 - 2015</span>
                    <div class="timeline-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Web Designer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>