<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ $p := .Site.GetPage "page" "home.md" }}
    <head>
        {{ partial "head.html" (dict "data" $p)}}
        <link rel="stylesheet" href="/assets/css/resume/styles.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/resume/responsive.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/common-css/ionicons.css">  
        <link  rel="stylesheet" href="/assets/css/common-css/fluidbox.min.css">
    </head>
    <body id="page-top">
    
        {{ partial "header.html" (dict "data" $p)}}
        {{ partial "teaching.html" (dict "data" $p)}}
        {{ partial "projects.html" (dict "data" $p)}}
         {{ partial "twitter.html" (dict "data" $p)}}
        {{ partial "education.html" (dict "data" $p)}}
        {{ partial "network.html" (dict "data" $p) }}

        {{ partial "js.html" . }}
        {{ partial "google-analytics.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
